body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
ol, ul {
    list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px 
    rgba(46, 47, 66, 0.88), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 1px 6px 
    rgba(46, 47, 66, 0.08)
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo-color {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.contacts {
    font-style: normal
}
.contacts-menu-link {
    font-style: normal
}
.menu {
    display: flex;
    gap: 40px;
}
.menu-link-studio {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-studio::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: inline-block;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contacts-menu {
    display: flex;
    gap: 40px;
}

.contacts-menu-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-menu-link:hover,
.contacts-menu-link:focus {
    color: #404BBF;
}

/* MAIN */

/* NAVY-BLUE */
.hero {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.hero-title {
    margin: 0 auto 48px auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* BENEFIT */
.benefit {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefit-menu {
    display: flex;
    gap: 24px;
}
.benefit-menu-item {
    width: calc((100% - 72px)/4);
}
.benefit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
}
.benefit-menu-icon {
    fill: transparent;
}
.benefit-title-profession {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.benefit-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* OUR TEAM 3 */
.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-list-item {
    display: block;
    width: calc((100% -72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2e2f4229, 
    0px 1px 1px 0px #2e2f4229
    0px 1px 6px 0px #2e2f4229;
background-color: #FFFFFF;
}
.team-info {
    padding: 32px 0;
}

.team-title-avatar {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    background-color: #404BBF;
}

.icon {
    fill: #F4F4FD;
}

/* PORTFOLIO */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48)/3);
    transition: box-shadow 250em cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
    transform: translateY(0%);
}

.portfolio-list-item:hover
.overlay {
    transform: translateY(0%);
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #F4F4FD;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
}

.images-cart {
    position: relative;
    overflow: hidden;
}

.images-cart:hover {
    transform: translate(0);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* FOOTER */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-section {
    margin-right: 120px;
}

.page-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-social {
    align-items: baseline;
    justify-content: center;
    gap: 16px;
}

.social-media-t {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-item-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #F4F4FD;
}

.footer-item-link:hover,
.footer-item-link:focus {
    background-color: #31D0AA;
}

/* FOOTER EMAIL INPUT */
.subscribe {
    justify-content: flex-end;
    margin-left: 80px;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-box {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    display: flex;
}

.subscribe-input-text {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    background: transparent;
    color: #FFFFFF;
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input-text::placeholder {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
}

.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
}

.subscribe-icon {
    margin-left: 16px;
}

/* -------MODALCA------- */
.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    background: #fcfcfc;
    transform: translate(-50%, -50%);
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bottom:hover,
.modal-bottom:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.icon-x {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.modal-form {
    position: relative;
}

/*---form input---*/
.modal-form {
    position: relative;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99
}


.modal-field-icon {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-input:hover,
.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    width: 18px;
    height: 24px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}

.modal-comment {
    margin-bottom: 16px;
}

.from-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    padding: 8px 16px;
    background-color: transparent;
    resize: none;
    transition: border-color 250em cubic-bezier(0.4, 0, 0.2, 1);
}

.from-comment:focus {
    border-color: #4D5AE5;
}

/* CHECKBOX */
.modal-privacy {
    margin-bottom: 24px;
}

.modal-check:checked + .modal-text > .polyci-checkbox {
    fill: #F4F4FD;
    background-color: #404BBF;
    border: none;
}

.modal-text {
    font-size: 12px;
    line-height: 1,17;
    letter-spacing: 0.04;
    color: #8E8F99;
}

.polyci-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.privacy-policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-form-buttom {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}